.sidebar{
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
}

.compose_btn{
    padding: 10px 20px !important;
    border-radius: 16px !important;
    box-shadow: 3px 2px 3px #ccc;
    margin-top: 20px !important;
    border: none !important;
    color: black !important;
    background-color: #c2e7ff !important; 
    /* margin-bottom: 20px !important; */
    margin-left: 15px !important;
    /* margin-right: 90% !important; */
    max-width: 150px;
    max-height: 60px;
    font-weight: 500 !important;
    font-family: "Google Sans",!important;
    font-size: .875rem !important;
    /* letter-spacing: normal !important; */
}